td {
    position: relative;
}

    td span.badge {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
    }


.remarks {
    background-color: blue; /* Ganti dengan warna latar belakang yang Anda inginkan */
    color: white; /* Ganti dengan warna teks yang Anda inginkan */
    padding: 2px 5px; /* Sesuaikan dengan ukuran padding yang diinginkan */
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
    font-size: 12px;
}
